<br/><br/>
<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>
    

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
      <h1 class="w3-jumbo" ><b>Cyber Safety</b></h1>
      <h5 style="font-family: Tiresias;"><b>Your safety is our priority</b></h5>
      <h1 class="w3-xxxlarge w3-text-red"><b>Cyber News.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
    
    <!-- cyber news -->
    <div class="w3-row-padding">
        <div class="w3-half">
          <h1 style="font-family: 'Times New Roman', Times, serif;">Malware</h1>
          <p style="font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>M</b>alware, short for malicious software, refers to any software specifically designed to harm, exploit, or compromise computer systems, networks, or user devices. Malware can take various forms and is created with the intent of causing damage, stealing sensitive information, or disrupting the normal functioning of a computer or network. Here are some common types of malware: <br>

            <b>Viruses</b>: These are programs that attach themselves to legitimate files and replicate when the infected file is executed. Viruses can spread through email attachments, infected software, or compromised websites. <br>
            
            <b>Worms</b>: Worms are standalone programs that can replicate and spread across networks without the need for a host file. They often exploit vulnerabilities in operating systems or applications to propagate. <br>
            
            <b>Trojans</b>: Trojans disguise themselves as legitimate software or files to deceive users into installing them. Once installed, they can create a backdoor for attackers, allowing unauthorized access to the infected system. <br>
            
            </p>
        </div>
    
        <div class="w3-half">
          <h2 style="font-family: 'Times New Roman', Times, serif;">Preventive measures</h2>

          <p style="font-family: 'Times New Roman';">
            <b>Use Antivirus Software</b>:
            Install reputable antivirus software and keep it up-to-date. Regularly schedule scans to detect and remove malware. <br>
            
            <b>Keep Software Updated</b>:
            Regularly update your operating system, applications, and software to patch vulnerabilities. Enable automatic updates whenever possible. <br>
            
            <b>Use a Firewall</b>:
            Enable a firewall to monitor and control incoming and outgoing network traffic. This helps prevent unauthorized access to your computer. <br>

            <b>Be Cautious with Email</b>:            
            Avoid opening emails from unknown or suspicious sources.
            Don't click on links or download attachments from untrusted emails.
            Be wary of emails that create a sense of urgency or ask for sensitive information. <br>

            <b>Enable Email Filtering</b>:            
            Use email filtering tools to detect and filter out phishing emails and malicious attachments. <br>

            <b>Educate Users</b>:            
            Train users to recognize phishing attempts and the importance of safe online practices.
            Conduct regular security awareness training to keep users informed about current threats. <br>

          </p>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-half">
          <h1 style="font-family: 'Times New Roman', Times, serif;">Phishing</h1>
          <p style="font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>P</b>hishing is a type of cyber attack in which attackers attempt to trick individuals into divulging sensitive information, such as usernames, passwords, and financial details, by posing as a trustworthy entity. This fraudulent activity is typically carried out through deceptive emails, messages, or websites. The term "phishing" is a play on the word "fishing," as cybercriminals are essentially fishing for sensitive information.

            Here are the common characteristics of phishing attacks: <br>
            
            <b>Emails and Messages</b>: Phishing attacks often begin with an email or message that appears to be from a legitimate source, such as a bank, government agency, or reputable company. <br>
            
            <b>Deceptive Content</b>: The content of the email or message is crafted to create a sense of urgency, fear, or curiosity, prompting the recipient to take immediate action. <br>
            
            <b>Fake Websites</b>: Phishing emails typically contain links that lead to fake websites designed to mimic legitimate ones. These sites are used to collect sensitive information when users unwittingly enter their details. <br>
            </p>
        </div>
    
        <div class="w3-half">
          <h2 style="font-family: 'Times New Roman', Times, serif;">Preventive measures</h2>

          <p style="font-family: 'Times New Roman';"><b>Be Skeptical</b>: Exercise caution when receiving unsolicited emails, especially those requesting sensitive information or immediate action. <br>

            <b>Verify Links</b>: Hover over links in emails to preview the actual URL before clicking. Ensure that the website address matches the legitimate one. <br>
            
            <b>Check Email Sender</b>: Verify the sender's email address. Be cautious if the email claims to be from a well-known entity but has a suspicious or unfamiliar email address. <br>
            
            <b>Use Multi-Factor Authentication (MFA)</b>: Enable MFA whenever possible to add an extra layer of security to your accounts. <br>
            
            <b>Security Software</b>: Install and regularly update security software, including antivirus and anti-phishing tools. <br>
            
            <b>Educate Users</b>: Provide training and awareness programs to educate individuals about the dangers of phishing and how to recognize and avoid such attacks. <br>
          </p>
        </div>
      </div>
  
    
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption"></p>
      </div>
    </div>
  
    
   
  <!-- End page content -->
  </div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}


function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>