<div style="margin-left: 500px; margin-top: 100px;">
    <h1 style="color: #f44336; font-size: 50px;">Cyber Safety Web-Application</h1>
</div>
<div style="margin-left: 500px; margin-right: 100px; background-color: #f1f1f1; ">
    <h2>Fun Tips:</h2>
    <ul >
        <li>Change your password regularly. Like your underwear. But don't use the same password for both!</li>
        <br>
        <li>Two-factor authentication is like having a bouncer at the VIP entrance of your online party. Keep the hackers waiting in line!</li>
        <br>
        <li>Using public Wi-Fi without protection is like playing hide and seek in a glass house. Everyone can see you, and it's not as fun as it sounds.</li>
        <br>
        <li>Ignoring software updates is like refusing to visit the doctor. Sure, you might feel fine now, but you'll regret it later when everything falls apart</li>
        <br>

    </ul>
</div>